*{
    margin: 0;
    padding: 0;
}
#hammenu{
    width:2rem;
    display: none;
}
#navbar a{
    text-decoration: none;
    color: white;
}
#navbar a:hover{
    color: black;
}
#hidemenu{
    display: flex;
}
#hidemenu1{
    position: absolute;
    top:27px;
    display:none;

}
#hidemenu1 ul{
    display: flex;
    flex-direction: column;
    list-style:none;
    margin: 10px;
}
#navbar ul{
    list-style: none;
    display: flex;
    background-color: rgb(198, 176, 176);
    color: white;
    width: 100vw;
    margin-bottom: 2rem;
    position:absolute;
}
li{
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
#above{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    padding: 1rem;
    z-index: -1;

}
#education{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: -1;
}
.h-primary{
    font-size:3rem ;
    text-align: center;
}
.h-secondary{
    font-size: 2.8rem;
    text-align: center;
    
}

.content{
font-size: 1.5rem;
font-family: 'Times New Roman', Times, serif;
text-align: center;


}
#school{
    border: 2px solid red;
    padding: 1rem;
    margin:2rem 0;
    background-color: cyan;
    border-radius: 10px;
}

a{
    text-decoration: none;
}
#college{
    border: 2px solid red;
    padding: 1rem;
    background-color: cyan;
    border-radius: 10px;
}
#skill{
    display: flex;
    border: 2px solid;
    margin: 1rem;
    justify-content: space-between;
}
.skills{
    border:2px solid red;
    padding:1rem;
    margin: 1rem;
    border-radius: 10px;
}
#project{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    margin: 1rem;
    align-items: center;
}
.projects{
    border:2px solid red;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}
.logos{
    width:139px;
    height:130px;
    display: block;
    margin: auto;


}
#start3{
    display: flex;
}
#end2{
    display: flex;
}

@media  screen and (max-width:400px){
    #hammenu{
        display: flex;
    }
    #navbar ul{
        flex-direction: column;
        border:2px solid black;
    }
    #hidemenu{
        display: none;
        flex-direction: column;
    }
    
}
    
