*{
    margin: 0;
    padding: 0;
}
#hammenu{
    width:2rem;
    display: none;
}
#navbar a{
    text-decoration: none;
    color: white;
}
#navbar a:hover{
    color: black;
}
ul{
    list-style: none;
    display: flex;
    background-color: rgb(198, 176, 176);
    color: white;
    width: 100%;
}
li{
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
#middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
}
#education{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid black;
}
.h-secondary{
    font-size: 2.8rem;
    text-align: center;
    
}
.content{
font-size: 1.5rem;
font-family: 'Times New Roman', Times, serif;
text-align: center;


}
#school{
    border: 2px solid red;
    padding: 1rem;;
}
#college{
    border:2px solid yellowgreen;
    padding: 1rem;
}
@media  screen and (max-width:400px){
    #hammenu{
        display: flex;
    }
    #navbar ul{
        flex-direction: column;
        border:2px solid black;
    }
    #hidemenu{
        flex-direction: column;
    }
    
}
